fastapi>=0.95.2
uvicorn[standard]>=0.22.0
pandas>=2.2.3
sentence-transformers>=2.2.2
faiss-gpu>=1.7.2
transformers>=4.35.0
openai>=1.8.0
torch>=2.0.0
torchvision
torchaudio
datasets
sqlalchemy
sentencepiece
tiktoken
accelerate
scipy
